include k-scaffold
include ./components/_index.pug
include ./sections/_index.pug
- const templateName = '{{sheet-name}}';
//- sheet_state will contain which display of the sheet is currently enabled
+hidden({name:'sheet state',value:'settings'})
//- Stores the sheet version number for use with version control functions
+hidden({name:'sheet version',value:0})
//- Now, for our actual sheet. We'll wrap this in a main element and give it an ID of main.
main#main
  +tabs({name:'{{sheet-name}}',defaultActiveTab:'settings'}).flex-box.tiny-gap
    +tab({name:'settings',container:'article'})
      include ./views/_index.pug
    //- Add additional tabs as needed
//- An input to contain template fields that should always be output with a roll.
+hidden({name:'template start',value:`@{whisper}&{template:${templateName}} {{character_name=@{character_name}}} {{character_id=@{character_id}}}`})
include rolltemplate/_index.pug
+kscript('{{sheet-name}}')
  //- All additional javascript files should be included in the index file
  include ./javascript/_index.pug